.footer_container, footer{
	background-color: #777;
}

footer a, .footer a, .footer, footer, footer a:hover{
	color: white;
}

.logo_footer{
	font-size: 50px;
	font-family: 'gobold';
	padding: 15px 0 15px 0;
	text-align: center;
}

.footer{
	padding: 20px 0 20px 0;
}

footer{
	text-align: center;
	padding: 20px;
	line-height: 50px;
	border-top: solid 2px white;
}

.footer h3{
	font-size: 25px;
	margin-bottom: 10px;
}

.footer ul{
	margin-bottom: 20px;
}