.rij1{
	padding: 20px 0;
}

/*____LOGIN____*/
.rij1_login label{
	display: block;
}

.rij1_login input{
	display: block;
	padding: 5px;
	border-radius: 5px;
	border: solid thin black;
	margin-bottom: 10px;
}

/*____REGISTREREN____*/
.rij1_register input{
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}

.rij1_register #registreren{
	width: 200px;
}

.rij1_register input[type='checkbox']{
	display: inline;
	width: initial;
	padding-right: 5px;
}
