body{
	font-family: helvetica, Arial;
	font-size: 15px;
	background-color: #F5F5F5;
}

h1{
	font-size: 30px;
	border-top: solid 3px black;
	display: inline-block;
	padding-top: 10px;
}

@import "_header.scss";
@import "_rij1.scss";
@import "_footer.scss";