footer{
	background-color: #333;
	color: white;
	padding: 10px;
}

footer a, footer a:hover{
	color: white;
}

footer .links{
	float: left;
}

footer .rechts{
	float: right;
}

footer p{
	margin-bottom: 0;
}